/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	background-color: #191919;
	height: 100%;
}

h1,h2,h3{
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

img{
	border: 2px solid #00F94F;
}



.terminal_styling{
	font-size: 12pt;
	color: #00F94F;
        font-family: "Andale Mono";	
}

.terminal_spacing{
	padding-top: 1.5em;
	overflow: auto;
	bottom: 0; 
}

input[type="submit"]{
	background-color: #191919;
	border-color: #00F94F;
}

input[type="text"]{
	background-color: #191919;
	border: 0px solid;
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul li.terminal:before{
	content: 'alexpelan.com:> ';
	margin: 0;
}

input:focus{
	outline: none;
}

a{
	color: #7EC0EE;
}

.red_text{
	color: #C23621;
}

.yellow_text{
	color: #ADAD27;
}

.white_text{
	color: #FFFFFF;
}

.blue_text{
	color: #7EC0EE;
}

.title_bar{
	position: fixed;
	top: 0px;
	left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	background: #CFCFCF; /* Cross browser support */
	background: linear-gradient(#CFCFCF, #A7A7A7);
	color: #000000;
	font-family: "Lucida Grande";
	font-size: 12pt;
	text-align: center;
	z-index: 100; /*This is because the opacity of the images messes with the stacking, so hard-code this high*/
}

.correct_for_svg{
	margin-left: -100px;
}

.pull_left{
	text-align: left;
	float: left;
}

.project_display{
	float: left;
	padding: 10px 0;
	width: 100%;
}

.screenshot{
	float: left;
	width: 500px;
}

.screenshot_img{
	width: 350px;
	height: 204px;
	display: block;
	margin: auto;
	opacity: 1; /* css standard */
	filter: alpha(opacity=100); /* internet explorer */
}


.screenshot_img:hover{
	opacity: 0.4;
	filter: alpha(opacity=40); /* for IE8 and earlier */
}

.icon{
	width: 100px;
	height: 100px;
}

.icon_container{
	margin-left: 500px;
}

.github_icon{
	float: left;
	background: url("github_alt.svg");
	margin-left: 30%;
}

.tumblr_icon{
	background: url("tumblr.svg");
	margin-left: 60%;
}

.mouseover_text{
	opacity: 0;
	background: #191919;
	text-align: center;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.mouseover_text:hover{
	opacity: 0.8;
	filter: alpha(opacity=70);
	color: #00F94F; 
}

.mouseover_text > p{
	display: table-cell; 
	height: 100px;
	vertical-align: middle;
}

div.mouseover_text > p > a{
	text-decoration: none;
	color: #00F94F;
}

.no_border{
	border: 0px solid black;
}
