/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	background-color: #191919;
}

.terminal_styling{
	font-family: "Andale Mono";
	font-size: 12pt;
	color: #00F94F;
}
/*.fixed_footer{
	position: fixed;
	width:100%;
	bottom: 0px;
}*/

input[type="submit"]{
	background-color: #191919;
	border-color: #00F94F;
}

input[type="text"]{
	background-color: #191919;
	border-color: #191919;
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul li.terminal:before{
	content: 'alexpelan.com:> ';
	margin: 0;
}

input:focus{
	outline: none;
}

a{
	color: #7EC0EE;
}

.red_text{
	color: #C23621;
}

.yellow_text{
	color: #ADAD27;
}

.white_text{
	color: #FFFFFF;
}

.blue_text{
	color: #7EC0EE;
}

